/* === GENERAL STYLE === */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Crimson Text', Times, serif;
}

html, body {
  height: 100%;
  min-height: 100%;
  background-color: #FFFAFA;
  position: relative;
}

.content {
  display: block;
  margin: auto;
  padding: 2em;
  width: 75%;
}

.logo {
  display: block;
  margin: auto;
  /*max-height: 300px;*/
  max-width: calc(100% - 40px);
  padding: 20px;
}

.header {
  display: block;
  margin: auto;
  width: 75%;
}

.nav {
  background-color: #ac898c;
  overflow: hidden;
  margin: auto;
  width: 75%;
  /* height: 3em; */
}

.navItem {
  color: #fff;
  font-decoration: bold;
  font-size: 1.25em;
  vertical-align: center;
  display: block;
  float: left;
  padding: 20px;
  width: 6.25em; /* 1.25 (font size) times 5em, which should be larger than "Facebook," the longest navItem */
}

.navItem a:hover {
  background-color: #000;
}

/*

@small media, logo width 75% of screen and 25% for the menu click			visibility: hidden;
*/


@media (max-width: 601px) {
  .logo {
    width: 75%;
    margin: 0;
    left: 0;
  }

  .header {
    width: 100%;
  }

  .content {
    width: 100%;
  }
  
  .nav {
    visibility: hidden;
  }
}
